@use 'variables'

.artikelsuche
    &--color
        background-color: variables.$orange
        color: variables.$white

    &--border
        border: 2px solid variables.$red
        border-radius: 4px
