#menu {

    list-style: none;
    padding-bottom: 50px;
}

.menu-item {
    background-color: #343a40;
    padding: 16px;
    font-weight: bold;
    float: left;
}

a {
    text-decoration: none;
    color: white;
}

.dropdown {
    position: absolute;
    display: none;
    list-style: none;
    padding: 0;
    margin-top: 16px;
}

.menu-dropdown-item {
    background-color: #343a40;
    padding: 16px;
}
