#menu {
    list-style: none;
    padding-bottom: 50px;
    padding-left: 0;
}

.menu-item {
    background-color: #343a40;
    padding: 16px;
    font-weight: bold;
    float: left;
}

.menu-item-link {
    text-decoration: none;
    color: white;
}

.dropdown {
    position: absolute;
    display: block;
    list-style: none;
    padding: 0;
    margin-top: 16px;
}

.menu-dropdown-item {
    background-color: #343a40;
    padding: 16px;
}

 /* Mit Vue dazugekommen*/

.showdropd {
    display: block;
}

.hidedropd {
    display: none;
}
